body {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: calc(33/22);
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 100rem;
  cursor: pointer;
  text-decoration: none;
}
.btn--white {
  background-color: white;
  color: #6c6c6c;
}
.btn--primary {
  color: white;
  background-color: #f48c06;
}
.btn--pink {
  color: white;
  background-color: #D8587E;
}

.background--trans {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 20px 20px 20px 25px;
  border-radius: 20px;
  color: #545567;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Nunito Sans';
  gap: 0 32px;
}
.background--trans .content .des {
  margin-top: calc(34 - 27);
  font-weight: 600;
  font-size: 20px;
  height: 0px;
}

.icon {
  background-color: white;
  border: 12px solid lightblue;
  color: lightblue;
  width: 27.5px;
  height: 27.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}
.icon i {
  display: flex;
}

.header {
  margin-bottom: 100px;
  overflow: hidden;
  background-color: #fff2e1;
  border-radius: 0 0 200px 200px;
}
.header-container {
  max-width: 1725px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header-top {
  padding-bottom: 83px;
  padding-top: 60px;
  display: flex;
  align-items: center;
}
.header-buttons {
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 0 34px;
  text-decoration: none;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 37px;
}
.header-heading {
  font-size: 54px;
  font-weight: bold;
  line-height: calc(81/54);
  color: #f48c06;
}
.header-heading span {
  color: #2F327D;
}
.header-desc {
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 52px;
  color: #464646;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.header-actions .btn--primary {
  padding: 22px 38px;
}
.header-image {
  position: relative;
}
.header-image .notification {
  position: absolute;
  top: 25%;
  right: 15%;
}
.header-image .notification-icon {
  color: #F25471;
  border: 12px solid #F25471;
}
.header-image .canlendar {
  position: absolute;
  top: 30%;
  left: 0;
}
.header-image .canlendar-icon {
  color: #23BDEE;
  border: 12px solid #23BDEE;
}
.header-image .envelope {
  position: absolute;
  top: 50%;
  right: 0;
}
.header-image .envelope-icon {
  color: #F88C3D;
  border: 12px solid #F88C3D;
}
.header-image .envelope .check {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4EE381;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  font-size: 12px;
  display: flex;
  margin: 20px;
}
.header-image .envelope .check i {
  margin: auto;
}
.header-image .info {
  position: absolute;
  top: 75%;
  left: 0;
  display: block;
}
.header-image .info-area {
  display: flex;
  gap: 0 23px;
}
.header-image .info-icon {
  position: relative;
  border-radius: 50%;
}
.header-image .info-icon--check {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4EE381;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
}
.header-image .info-button {
  display: block;
  text-align: center;
  padding-top: 19px;
}
.header-image .info-button .btn {
  padding: 12px 48px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(27 / 20);
}

.menu {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0 80px;
}
.menu-link {
  color: inherit;
  text-decoration: none;
}

.watch {
  display: flex;
  align-items: center;
  gap: 0 32px;
  font-size: 24px;
  line-height: calc(36/24);
  color: inherit;
  text-decoration: none;
}
.watch-icon {
  width: 80px;
  height: 80px;
  border-radius: 100rem;
  background: white;
  box-shadow: 2px 20px 60px rgba(61, 155, 168, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
