body {
  font-size: 22px;
  color: #252641;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 1725px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.grid {
  display: grid; }

.btn {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: calc(33/22);
  padding: 13px 50px;
  border: 0;
  outline: none;
  border-radius: 100rem;
  cursor: pointer;
  text-decoration: none; }
  .btn--white {
    background-color: white;
    color: #6c6c6c; }
  .btn--primary {
    color: white;
    background-color: #f48c06; }
  .btn--pink {
    color: white;
    background-color: #D8587E; }

.scroll-header {
  box-shadow: 0 1px 4px rgba(37, 37, 40, 0.1);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 15px 0; }
  .scroll-header .header-top {
    margin-top: 0px; }

.header {
  overflow: hidden;
  background-color: #fff2e1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: .4s; }
  .header-top {
    padding-top: 60px;
    display: flex;
    align-items: center; }
  .header-buttons {
    margin-left: 80px;
    display: flex;
    align-items: center;
    gap: 0 34px;
    text-decoration: none; }
  .header .menu {
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 80px; }
    .header .menu-link {
      color: inherit;
      text-decoration: none; }

.home {
  border-radius: 0 0 200px 200px;
  background-color: #fff2e1;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 62px;
  border-radius: 0 0 200px 200px; }
  .home-data .home-title {
    font-size: 54px;
    font-weight: bold;
    line-height: calc(81/54);
    color: #f48c06; }
    .home-data .home-title span {
      color: #2F327D; }
  .home-data .home-description {
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 52px;
    color: #464646; }
  .home-data .home-actions {
    display: flex;
    align-items: center;
    gap: 0 40px; }
    .home-data .home-actions .btn--primary {
      padding: 22px 38px; }
    .home-data .home-actions .watch {
      display: flex;
      align-items: center;
      gap: 0 32px;
      font-size: 24px;
      line-height: calc(36/24);
      color: inherit;
      text-decoration: none; }
      .home-data .home-actions .watch-icon {
        width: 80px;
        height: 80px;
        border-radius: 100rem;
        background: white;
        box-shadow: 2px 20px 60px rgba(61, 155, 168, 0.1);
        display: flex;
        justify-content: center;
        align-items: center; }
  .home-image {
    position: relative; }
    .home-image__notification {
      position: absolute;
      top: 25%;
      right: 15%; }
      .home-image__notification .icon {
        background-color: white;
        border: 12px solid lightblue;
        color: lightblue;
        width: 27.5px;
        height: 27.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        color: #F25471;
        border: 12px solid #F25471; }
        .home-image__notification .icon i {
          display: flex; }
    .home-image__canlendar {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      padding: 20px 20px 20px 25px;
      border-radius: 20px;
      color: #545567;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 24px;
      font-family: 'Nunito Sans';
      gap: 0 32px;
      top: 30%;
      left: 0; }
      .home-image__canlendar .content .des {
        margin-top: calc(34 - 27);
        font-weight: 600;
        font-size: 20px;
        height: 0px; }
      .home-image__canlendar .icon {
        background-color: white;
        border: 12px solid lightblue;
        color: lightblue;
        width: 27.5px;
        height: 27.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        color: #23BDEE;
        border: 12px solid #23BDEE; }
        .home-image__canlendar .icon i {
          display: flex; }
    .home-image__envelope {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      padding: 20px 20px 20px 25px;
      border-radius: 20px;
      color: #545567;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 24px;
      font-family: 'Nunito Sans';
      gap: 0 32px;
      top: 50%;
      right: 0; }
      .home-image__envelope .content .des {
        margin-top: calc(34 - 27);
        font-weight: 600;
        font-size: 20px;
        height: 0px; }
      .home-image__envelope .icon {
        background-color: white;
        border: 12px solid lightblue;
        color: lightblue;
        width: 27.5px;
        height: 27.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        color: #F88C3D;
        border: 12px solid #F88C3D; }
        .home-image__envelope .icon i {
          display: flex; }
      .home-image__envelope .check {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #4EE381;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 2px;
        font-size: 12px;
        display: flex;
        margin: 20px; }
        .home-image__envelope .check i {
          margin: auto; }
    .home-image__info {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      padding: 20px 20px 20px 25px;
      border-radius: 20px;
      color: #545567;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 24px;
      font-family: 'Nunito Sans';
      gap: 0 32px;
      top: 75%;
      left: 0;
      display: block; }
      .home-image__info .content .des {
        margin-top: calc(34 - 27);
        font-weight: 600;
        font-size: 20px;
        height: 0px; }
      .home-image__info .info-area {
        display: flex;
        gap: 0 23px; }
      .home-image__info .info-icon {
        position: relative;
        border-radius: 50%; }
        .home-image__info .info-icon--check {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #4EE381;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid white; }
      .home-image__info-button {
        display: block;
        text-align: center;
        padding-top: 19px; }
        .home-image__info-button .btn {
          padding: 12px 48px;
          font-size: 20px;
          font-weight: 700;
          line-height: calc(27 / 20); }

/*# sourceMappingURL=app.css.map */
