.header {
    // min-height: 1118px;
    // background-image: url(../../images/background.png);
    margin-bottom: 100px;
    overflow: hidden;
    // background-position-y: bottom;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: $yellow;
    border-radius: 0 0 200px 200px;

    &-container {
        max-width: 1725px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    &-top {
        padding-bottom: 83px;
        padding-top: 60px;
        display: flex;
        align-items: center;
    }

    &-buttons {
        margin-left: 80px;
        display: flex;
        align-items: center;
        gap: 0 34px;
        text-decoration: none;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 0 62px;
        gap: 0 37px;
    }

    &-heading {
        font-size: 54px;
        font-weight: bold;
        line-height: calc(81/54);
        color: $secondary-color;

        span {
            color: $primary-color;
        }
    }

    &-desc {
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 52px;
        color: $gray-dark;
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: 0 40px;

        .btn--primary {
            padding: 22px 38px;
        }
    }

    &-image {
        position: relative;

        .notification {
            position: absolute;
            top: 25%;
            right: 15%;

            &-icon {
                color: $pink-light--icon;
                border: 12px solid $pink-light--icon;
            }
        }

        .canlendar {
            position: absolute;
            top: 30%;
            left: 0;

            &-icon {
                color: $blue-light--icon;
                border: 12px solid $blue-light--icon;
            }
        }

        .envelope {
            position: absolute;
            top: 50%;
            right: 0;

            &-icon {
                color: $orange-light--icon;
                border: 12px solid $orange-light--icon;
            }

            .check {
                position: absolute;
                top: 0;
                right: 0;
                background-color: #4EE381;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 2px;
                font-size: 12px;
                display: flex;
                margin: 20px;

                i {
                    margin: auto;
                }
            }
        }

        .info {
            position: absolute;
            top: 75%;
            left: 0;
            display: block;

            &-area {
                display: flex;
                gap: 0 23px;
            }

            &-icon {
                position: relative;
                border-radius: 50%;

                &--check {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #4EE381;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 3px solid white;
                }
            }

            &-button {
                display: block;
                text-align: center;
                padding-top: 19px;

                .btn {
                    padding: 12px 48px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: calc(27 / 20);
                }
            }
        }
    }

}

.menu {
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 80px;

    &-link {
        color: inherit;
        text-decoration: none;
    }
}



.watch {
    display: flex;
    align-items: center;
    gap: 0 32px;
    font-size: 24px;
    line-height: calc(36/24);
    color: inherit;
    text-decoration: none;

    &-icon {
        width: 80px;
        height: 80px;
        border-radius: 100rem;
        background: white;
        box-shadow: 2px 20px 60px rgba(61, 155, 168, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}