// ================Header===================
.header {

    overflow: hidden;
    background-color: $yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index;
    transition: .4s;

    &-top {
        padding-top: 60px;
        display: flex;
        align-items: center;
    }

    &-buttons {
        margin-left: 80px;
        display: flex;
        align-items: center;
        gap: 0 34px;
        text-decoration: none;
    }

    .menu {
        margin-left: auto;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 0 80px;

        &-link {
            color: inherit;
            text-decoration: none;
        }
    }


}

// ================Header home data===================

.home {
    border-radius: 0 0 200px 200px;
    background-color: $yellow;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 62px;
    // gap: 0 37px;
    border-radius: 0 0 200px 200px;

    &-data {
        .home-title {
            font-size: 54px;
            font-weight: bold;
            line-height: calc(81/54);
            color: $secondary-color;

            span {
                color: $primary-color;
            }
        }

        .home-description {
            font-size: 24px;
            line-height: 160%;
            margin-bottom: 52px;
            color: $gray-dark;
        }

        .home-actions {
            display: flex;
            align-items: center;
            gap: 0 40px;

            .btn--primary {
                padding: 22px 38px;
            }

            .watch {
                display: flex;
                align-items: center;
                gap: 0 32px;
                font-size: 24px;
                line-height: calc(36/24);
                color: inherit;
                text-decoration: none;

                &-icon {
                    width: 80px;
                    height: 80px;
                    border-radius: 100rem;
                    background: white;
                    box-shadow: 2px 20px 60px rgba(61, 155, 168, 0.1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &-image {
        position: relative;

        &__notification {
            position: absolute;
            top: 25%;
            right: 15%;

            .icon {
                @include iconHome($pink-light--icon);
            }
        }

        &__canlendar {
            @include themeHome();
            top: 30%;
            left: 0;

            .icon {
                @include iconHome($blue-light--icon);
            }
        }

        &__envelope {
            @include themeHome();
            top: 50%;
            right: 0;

            .icon {
                @include iconHome($orange-light--icon);
            }

            .check {
                position: absolute;
                top: 0;
                right: 0;
                background-color: #4EE381;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 2px;
                font-size: 12px;
                display: flex;
                margin: 20px;

                i {
                    margin: auto;
                }
            }
        }

        &__info {
            @include themeHome();
            top: 75%;
            left: 0;
            display: block;

            .info-area {
                display: flex;
                gap: 0 23px;
            }

            .info-icon {
                position: relative;
                border-radius: 50%;

                &--check {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #4EE381;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 3px solid white;
                }
            }

            &-button {
                display: block;
                text-align: center;
                padding-top: 19px;

                .btn {
                    padding: 12px 48px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: calc(27 / 20);
                }
            }
        }
    }

}