.header {
    min-height: 1118px;
    background-image: url(../../images/backgound.png);

    &-container {
        max-width: 1725px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    &-top {
        padding-bottom: 83px;
        padding-top: 60px;
        display: flex;
        align-items: center;
    }

    &-buttons {
        margin-left: 80px;
        display: flex;
        align-items: center;
        gap: 0 34px;
        text-decoration: none;
    }

}

.menu {
    margin-left: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 80px;

    &-link {
        color: inherit;
        text-decoration: none;
    }
}