$primary-color: #2F327D;
$secondary-color: #f48c06;
$third-color: #65DAFF;
$gray: #696984;
$gray-dark: #464646;
$gray_dark--text: #252641;
$gray_light--button: #6c6c6c;
$purple: #5b72ee;
$yellow: #fff2e1;
$blue: #29b9e7;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$wrapper: 1920px;