$primary-color: #2F327D;
$secondary-color: #f48c06;
$third-color: #65DAFF;
$gray: #696984;
$gray-dark: #464646;
$gray_dark--text: #252641;
$gray_light--button: #6c6c6c;
$gray-light--text: #545567;
$pink-light--icon: #F25471;
$pink-light--button: #D8587E;
$blue-light--icon: #23BDEE;
$orange-light--icon: #F88C3D;
$purple: #5b72ee;
$yellow: #fff2e1;
$blue: #29b9e7;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$wrapper: 1920px;
$z-index: 100;